* {
    padding: 0;
    margin: 0;
}

.menu {
    width: 100%;
    height: 40px;
    background-color:rgb(254, 200, 254) ;
    margin: 0px ;
}
.menu_item{
    color:darkorchid;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    line-height: 40px;
    /*设置为能改宽高的块级元素*/
    display: block;
    height: 40px;
    float:left;
    padding:0 19px;
}
.menu_select{
    color:darkorchid;
    background-color:rgb(255, 144, 203);
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    line-height: 40px;
    display: block;
    height: 40px;
    float:left;
    padding:0 19px;
}
.menu_item:hover{
    background-color:rgb(255, 144, 203);
}